/* color gradient for background */
body {
    background: linear-gradient(#80e1ff, #d9f6ff);
}

h2 {
    color: #00588f;
    font-size: 30px
}

h3 {
    color: #00588f;
}

.table, th, td {
    border: 1px solid black;
}

#title {
    background-color: #35a5f0;
    font-size: large;
    text-align: center;
}

/* formatting picture of my dog */
#dogpic {
    width: 500px;
    height: 400px;
    border-radius: 70%;
}

/* make album images show side by side */
.albumimg {
    float: left;
    width: 12.5%;
    opacity: 0.5;
}

/* make it opaque when hovered over */
.albumimg:hover {
    opacity: 1;
}